
/* -- nav mobile screen setting-- */
@media screen  and  (max-width:425px) {
.container{flex-direction: column;
    width: 100%;
padding: 0 10px;
}
.cont-1{
    flex-direction: column;
    margin-top: 65px;
    

}