/* font link from google */
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Open+Sans&family=Work+Sans:wght@100;400;500;600;700;800;900&display=swap" rel="stylesheet">

*{

font-family: 'Work Sans', sans-serif;
}


/* work of nav  */
.cont-1{display: flex;
    align-items: center;
    text-align: center;
    gap: 30px;
    text-decoration: none;
}
#Frame{
    width: 86.041px;
height: 40px;

}
#Gamer{
font-size: 45px;
font-weight: 700;
ackground: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
text-decoration: none;
}
#G{
    color:#ff42a5;
}
#about{
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500; 
    text-decoration: none;   
}
#Developer{
    color: #3C354F;
text-align: center;
font-size: 18px;
font-weight: 500;
text-decoration: none;
}
.container{
    max-width: 1920PX;
    height: 125px;
    margin: 0PX auto;
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 240px;
}




#img{
    width: 35px;
    height: 24px;
}
#img-1{
    width: 24px;
    height: 24px;   
}
#btn{
    text-align: center;
    align-items: center;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    padding: 21px 18px;
}



/* banner section */

.container-1{
    max-width: 1440px;
    margin: 19px auto 0;
    display: flex;
    justify-content: space-between;
    
}

.play-text{
    width:50%px;
    align-items: left;
    

}


.play-imgs{
    width: 50%;
   
}
 .play-imgs img{width: 100%;}

.like{
    width: 348px;
    height: 55px;
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    
    
}
.goat{
    
    width: 370px;
    height: 100px;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.Click{
    width: 330px;
    height: 23px;
    color: #534C64;
font-size: 20px;
font-weight: 500;
text-align: center;
text-transform: lowercase;

}

.btn-sing{
    
    color: #FFF;
font-size: 20px;
font-weight: 600;
padding: 21px 40px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));

}
.btn-rogue{
    color:#FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;

}

.btn-gap-3{
    display: flex;
    gap: 15px;
}








 /* online game section start  */
.container-2{
max-width: 1920px;
margin: 50px auto;
align-content: center;
text-align:center ;
}

.picture{
    display: flex;
    gap: 24px;
    padding: 0 230px 0;
    justify-content: space-evenly;

}

.card{   
     width: 320px;
    height: 400px;
}
#card-text{

    color: #534C64;
font-size: 20px;
font-weight: 500;
}
 /*--  start game section start -- */
.container-3{
    max-width: 1920px;
    margin:50px auto 0;
    display: flex;
    margin-top: 100px;
    margin-left: 220px;
    gap: 230px;
    justify-content:space-evenly;
}
.box-pic5{
    width: 650px;
height: 650px;
border-radius: 8px;

padding-top: 50px;
}
.pic6{
    width: 318px;
height: 365px;
position: relative;
bottom: 250px;
left: 450px;
}

#img-5{
    width: 426px;
    height: 180px;
    height: 700px;
    width: 650px;
}
#text-7{
 
font-size: 48px;
font-weight: 700;
}
#text-8{
    width: 483px;
    height: 90px;
    color: #534C64;
font-size: 18px;
font-weight: 400;

}
#text-9{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.text-10{ width: 700px;
    height: 600px;
    align-items: center;
    margin-top: 190px;
  
  
}
/*--  start game section finish-- */
.container-4{
    max-width: 1920px;
   height: 427px;
    margin:50px auto 0; 
    row-gap: 10px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.icon{
    width: 243px;
height: 80px;
border-radius: 50px;
background: #FFF;
display: flex;
align-items: center;
border: 2px solid red;

}
#text-11{
    width: 150px;
    height: 23px;
    color: #0B0223;
     font-size: 20px;
     font-weight: 600;
     padding: 20px 23px;

}
.icon-disply{
    display: flex;
    justify-content: space-around;
   
    
}
.icon-disply-1{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
   
}

/*  footer start */